<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>豆瓣电影</title>
</head>
<body>
<div id="wrapper">
  <div id="content">
    <div class="grid-16-8 clearfix">
      <div class="article">
        <div id="screening" class="s" data-dstat-areaid="70" data-dstat-mode="click,expose">
          <div class="screening-bd">
            <ul class="ui-slide-content" data-slide-index="1" data-index-max="7">
              <li class="ui-slide-item" data-title="长空之王" data-release="2023" data-rate="6.6" data-star="35" data-trailer="https://movie.douban.com/subject/35209731/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?movie_id=35209731" data-duration="127分钟" data-region="中国大陆" data-director="刘晓世" data-actors="王一博 / 胡军 / 周冬雨" data-intro="" data-enough="true" data-rater="226341">
                <ul>
                  <li class="poster"><a href="https://movie.douban.com/subject/35209731/?from=showing"><img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2889598060.webp" alt="长空之王" rel="nofollow" class=""/></a></li>
                  <li class="title"><a href="https://movie.douban.com/subject/35209731/?from=showing" class="">长空之王</a></li>
                  <li class="rating"><span class="rating-star allstar35"></span><span class="subject-rate">6.6</span></li>
                  <li class="ticket_btn"><span><a href="https://movie.douban.com/ticket/redirect/?movie_id=35209731" target="_blank">选座购票</a></span></li>
                </ul>
              </li>
              <li class="ui-slide-item" data-title="宇宙探索编辑部" data-release="2021" data-rate="8.1" data-star="40" data-trailer="https://movie.douban.com/subject/34941536/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?movie_id=34941536" data-duration="118分钟" data-region="中国大陆" data-director="孔大山" data-actors="杨皓宇 / 艾丽娅 / 王一通" data-intro="" data-enough="true" data-rater="316005">
                <ul>
                  <li class="poster"><a href="https://movie.douban.com/subject/34941536/?from=showing"><img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2889865405.webp" alt="宇宙探索编辑部"/></a></li>
                  <li class="title"><a href="https://movie.douban.com/subject/34941536/?from=showing" class="">宇宙探索编辑...</a></li>
                  <li class="rating"><span class="rating-star allstar40"></span><span class="subject-rate">8.1</span></li>
                  <li class="ticket_btn"><span><a href="https://movie.douban.com/ticket/redirect/?movie_id=34941536" target="_blank">选座购票</a></span></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="gallery-frames">
          <div id="hot-gallery">
            <ul class='ui-slide-content'>
              <li class='ui-slide-item'>

                <div class="gallery-frame">
                  <a href="https://movie.douban.com/trailer/304261/?from=gallery" target="_blank"
                     data-fid="3719">
                    <img src="https://img9.doubanio.com/view/movie_gallery_frame_hot_rec/m/public/dfb3da9cdc07a25.jpg"
                         alt="诺兰新片《奥本海默》中字新预告" width="350" height="240"/>
                  </a>
                  <div class="gallery-detail">
                    <div class="gallery-hd">
                      <a href="https://movie.douban.com/trailer/304261/?from=gallery"
                         target="_blank" data-fid="3719">
                        <h3>诺兰新片《奥本海默》中字新预告</h3>
                      </a>
                    </div>
                    <div class="gallery-bd">
                      <p>
                        克里斯托弗·诺兰编剧执导，基里安·墨菲饰演“原子弹之父”罗伯特·奥本海默，影片有望引进内地。
                      </p>
                    </div>
                  </div>
                </div>

              </li>
              <li class='ui-slide-item'>
                <div class="gallery-frame">
                  <a href="https://movie.douban.com/annual/2022?source=doubanmovie&amp;fullscreen=1?from=gallery"
                     target="_blank" data-fid="3744">
                    <img src="https://img2.doubanio.com/view/movie_gallery_frame_hot_rec/m/public/dc7b1d0f254a4af.jpg"
                         alt="「豆瓣2022年度电影榜单」上线" width="350" height="240"/>
                  </a>
                  <div class="gallery-detail">
                    <div class="gallery-hd">
                      <a href="https://movie.douban.com/annual/2022?source=doubanmovie&amp;fullscreen=1?from=gallery"
                         target="_blank" data-fid="3744">
                        <h3>「豆瓣2022年度电影榜单」上线</h3>
                      </a>
                    </div>
                    <div class="gallery-bd">
                      <p>
                        点击查看完整榜单，开启全年佳片好剧大赏。
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class='ui-slide-item'>
                <div class="gallery-frame">
                  <a href="https://movie.douban.com/trailer/302881/?from=gallery" target="_blank"
                     data-fid="3743">
                    <img src="https://img1.doubanio.com/view/movie_gallery_frame_hot_rec/m/public/9dd7ad4ff6beed7.jpg"
                         alt="真人电影《芭比》中字预告" width="350" height="240"/>
                  </a>
                  <div class="gallery-detail">
                    <div class="gallery-hd">
                      <a href="https://movie.douban.com/trailer/302881/?from=gallery"
                         target="_blank" data-fid="3743">
                        <h3>真人电影《芭比》中字预告</h3>
                      </a>
                    </div>
                    <div class="gallery-bd">
                      <p>
                        玛格特·罗比饰演芭比，瑞恩·高斯林饰演肯，7月21日北美上映。
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


